<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
  <div class="container mt-3">
    <form>
      <input type="hidden" id="id" th:value="${#authentication.principal.user.id}">
      <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" th:value="${#authentication.principal.user.username}">
      </div>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:value="${#authentication.principal.user.email}">
      </div>
      <button id="btn-update" class="btn btn-secondary">회원 정보 수정</button>
    </form>
  </div>
  <script src="/js/user.js"></script>
</div>
</html>


