<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <th:block th:if="${session.principal == null}">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/insertUser">회원가입</a>
                        </li>
                    </ul>
                </th:block>
                <th:block th:unless="${session.principal == null}">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/updateUser">회원 상세</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post/insertPost">포스트 등록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">로그아웃</a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </nav>
</div>

</html>