<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
  <div class="container mt-3">
    <form th:action="@{/auth/login}" method="post">
      <div class="mb-3">
        <label>Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username">
      </div>
      <div class="mb-3">
        <label>Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password">
      </div>
      <button id="btn-login" class="btn btn-secondary">로그인</button>
    </form>
  </div>

</div>
</html>