<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
  <div class="container mt-3">
    <form th:action="@{/auth/login}" method="post">
      <div class="mb-3">
        <label>Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username">
      </div>
      <div class="mb-3">
        <label>Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password">
      </div>
      <button id="btn-login" class="btn btn-secondary">로그인</button>
      <a href="https://kauth.kakao.com/oauth/authorize?client_id=#&redirect_uri=http://localhost:8080/oauth/kakao&response_type=code"><img height="38px" src="/image/kakao_login_medium_narrow.png"></a>
      <a href="../oauth2/authorization/google"><img src="/image/btn_google_signin_dark_normal_web.png" height="38px"></a>
    </form>
  </div>

</div>
</html>